<article id="<%= post.layout %>-<%= post.slug %>" class="post">
	<footer class="entry-meta-header">
	<% if (page.type != "tags") { %>
		<span class="meta-elements date">
			<%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
		</span>
		<% } %>
	</footer>
	<%- partial('post/gallery') %>
	<header class="entry-header">
		<%- partial('post/title', {class_name: 'article-title'}) %>
	</header>
	<div class="entry-content">
		<% if (post.excerpt && index){ %>
			<%- post.excerpt %>
			<% if (theme.excerpt_link){ %>
				<p class="article-more-link">
					<a href="<%- config.root %><%- post.path %>#more" class="article-more-link"><%= theme.excerpt_link %></a>
				</p>
      <% } %>
    <% } else { %>
    	<%- post.content %>
    <% } %>
	</div>
	<footer class="entry-footer">
		<div class="entry-meta-footer">
			<span class="category">
				<%- partial('post/category') %>
			</span>
			<span class="tags">
				<%- partial('post/tag') %>
			</span>
		</div>
	</footer>
	<% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
  <% if (page.type === "tags") { %>
	<div class="tag-cloud">
	<div class="tag-cloud-tags">
	<%- tagcloud({
		min_font: 16,
		max_font: 36,
		amount: 200,
		color: true,
		start_color: '#ccc',
		end_color: '#111'
		}) %>
	</div>
</div>
<% }%>
</article>
<% if (index){ %>
	<hr class="article-devider">
<% } %>